[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
ipykernel = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
requests = "*"
scikit-learn = "*"
pydot = "*"

[dev-packages]

[requires]
python_version = "3.9"
